<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Home</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
  </ion-content>
  <ion-content padding *ngIf="selectedNews">
    <ion-card class="card" *ngFor="let new of selectedNews.results">
        <ion-item>
            <h2 class="cardTitle">{{new.title}}</h2>
            <p class="cardDate">{{new.updated_date}}</p>
          </ion-item>
        
          <img class="cardImage" src="{{new.multimedia[4].url}}">

          <ion-card-content>
            <p>{{new.abstract}}</p>
          </ion-card-content>
    </ion-card>
  </ion-content>