@font-face {
    font-family: 'Cheltenham_BoldItalic';
    src: url('../assets/fonts/Cheltenham_BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Imperial';
    src: url('../assets/fonts/Imperial.ttf') format('truetype');
}

page-home {

}

.card {
    margin-top: 3em;
}

.card p {
    //font-family: Imperial;
}

.cardTitle {
    white-space: normal;
    //font-family: Cheltenham_BoldItalic;
}

.cardSubsection {
    font-style: italic;
}

.headerLogo {
    margin-top: 5px;
}

$card-ios-header-color: pink;