<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="news">
  <ion-card *ngFor="let new of news.results">
      <ion-item>
          <h2>{{new.title}}</h2>
          <p>{{new.updated_date}}</p>
        </ion-item>
      
      
        <ion-card-content>
          <p>{{new.abstract}}</p>
        </ion-card-content>
  </ion-card>
</ion-content>
