@font-face {
    font-family: 'Cheltenham_BoldItalic';
    src: url('../assets/fonts/Cheltenham_BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Imperial';
    src: url('../assets/fonts/Imperial.ttf') format('truetype');
}

page-home {

}

.card-ios {
    margin-top: 3em;
}

.item-ios h2  {
    font-size: 2.3rem;
}

.item-ios p {
    font-family: "Imperial";
    color: black;
}

.ion-card {
    margin-top: 1rem;
}

.cardTitle {
    white-space: normal;
    font-family: Cheltenham_BoldItalic;
}

.cardSubsection {
    font-style: italic;
}

.headerLogo {
    margin-top: 5px;
}

.item-ios .cardSubsection {
    margin-top: 0.8em;
    text-decoration: underline;
    font-size: 1em;
}

.item-ios .cardDate {
    font-size: 1em;
}

.card-ios p {
    font-family: "Imperial";
    font-size: 1.2em;
}

.readMoreButton {
    margin-top: 1.5em;
    margin-left: 4em;
}

.bar-button-default-ios {
    color: black;
}